
<footer class = "footer">    
    <div class="container-fluid footer-content">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2"
                src="https://res.cloudinary.com/dcimcuqjm/image/upload/v1592807748/Screenshot_89_p19yzz.png" alt=""
                width="210" height="100" class="footer-content">
                <div class="share-button ml-2">
                    <span class="font-weight-bolder"><i class="fas fa-share-alt mr-1"></i>  Share</span>
                    <a href="https://www.facebook.com/sharer.php?u=https://setitupcorp.herokuapp.com" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://wa.me/?text=https://setitupcorp.herokuapp.com"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://twitter.com/share?url=https://setitupcorp.herokuapp.com" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://setitupcorp.herokuapp.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div> 
                <small class="d-block mb-3 text-muted footer-content ml-5 mt-3">&copy; SetItUp 2020</small>
            </div>
            <div class=" col-6 col-md">
                <h5>CONDITIONS</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="/privacy"class = "footer-content">Privacy</a></li>
                    <li><a href="/termsandconditions" class = "footer-content">Terms</a></li>
                    <li><a href="/guidelines"class = "footer-content">Community Guidelines</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>FOLLOW</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="https://www.instagram.com/setitup_corp/" class = "footer-content">Instagram</a></li>
                    <li><a href="https://github.com/Setitup-corp" class = "footer-content">Github</a></li>
                    <li><a href="https://www.facebook.com/setitup.corp.1" class = "footer-content">Facebook</a></li>
                    <li><a href="https://twitter.com/Setitup6" class = "footer-content">Twitter</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>CONTACT</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="/support" class = "footer-content">Support</a></li>
                    <li><a href="/safety" class = "footer-content">Safety Tips</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>    
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="/scripts/form-validations.js"></script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
</body>
</html>