<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" href="https://res.cloudinary.com/dcimcuqjm/image/upload/v1593546882/Screenshot_97_vadfhb.png"
        type="image/x-icon">
    <title>Page Not Found | SetItUp</title>
    <link rel="icon" href="https://res.cloudinary.com/dcimcuqjm/image/upload/v1593546882/Screenshot_97_vadfhb.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/404notfound.css">
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
                <h2>Page not found</h2>
            </div>
            <% if (currentUser) { %>
            <a class="home-link" href="/home/<%= currentUser._id %>">Homepage</a>
            <% } else { %> 
            <a class="home-link" href="/">Homepage</a>
           <% } %>
            <div class="notfound-social">
               <a href="https://www.facebook.com/setitup.corp.1"><span><i class="fab fa-facebook"></i></span></a>
               <a href="https://twitter.com/Setitup6"><i class="fab fa-twitter"></i></a>
               <a href="https://www.instagram.com/setitup_corp/"><i class="fab fa-instagram"></i></a>
               <a href="https://github.com/Setitup-corp"><i class="fab fa-github"></i></a>
           </div>
       </div>
        </div>

</body>

</html>