<%- include("./partials/header") %>
    <title>About Us | SetItUp</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>

<body>
    <div class="aboutus-content">
        <div class="headerimg jumbotron">
            <p class="headertext text-white mt-4">
                <i class="fa fa-venus-mars biggy" aria-hidden="true"></i>
                <span class="biggy">Setitup</span>
            </p>
            <p class="lead headertext2">~ Handcrafted By Thought</p>
        </div>
        <h3 class="display-3 header-lmntrix">Meet LMNTRIX</h3>
        <div class="row">
            <div class="col-sm-6 col-9 mx-auto desc" >
                <h4>A Team of Friends and Developers putting their hearts in making this Website and hoping that you will Like, Support and Enjoy using SetItUp.<div>Happy Dating!</div>  </h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 pb-5 text-center">
                    <div class="row">
                        <div class="col-lg-4 mx-auto">
                            <img class="imagerounded"
                                src="https://res.cloudinary.com/setitup/image/upload/v1594037013/darsh_je6f4d.jpg">
                            <p class="card-text blwimg">
                            </p>
                        </div>
                        <div class="col-lg-8 mt-5">
                            <div class="card-body pt-0">
                                <h5 class="card-title">Darsh Bavishi</h5>
                                <p class="card-text">
                                    <a href="https://www.instagram.com/_dxrshh_/" data-toggle="tooltip" data-placement="bottom" title="instagram profile">
                                        <i class=" icons fab fa-instagram"></i>
                                    </a>
                                    <a href="https://github.com/DarshBavishi" data-toggle="tooltip" data-placement="bottom"
                                        title="Github Profile">
                                        <i class=" icons fab fa-github"></i>
                                    </a>
    
                                </p>
                                <hr>
                                <p class="card-text"><small class="text-muted">CO-FOUNDER | <i class="fab fa-atlassian px-1"></i> WEB DEVELOPER </small></p>
                                <!-- <p class="card-text"><small class="text-muted"><i class="fab fa-atlassian"></i> WEB DEVELOPER</small></p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 pb-5 text-center">
                    <div class="row">
                        <div class="col-lg-4 pr-2 mx-auto">
                            <img class="imagerounded"
                                src="https://res.cloudinary.com/setitup/image/upload/v1594037013/parth-1_wuiayw.jpg">
                            </p>
                        </div>
                        <div class="col-lg-8 mt-5">
                            <div class="card-body pt-0">
                                <h5 class="card-title">Parth Shah</h5>
                                <p class="card-text">
                                    <a href="https://www.instagram.com/parth.shah25/" data-toggle="tooltip" data-placement="bottom"
                                        title="instagram profile">
                                        <i class=" icons fab fa-instagram"></i>
                                    </a>
                                    <a href="https://github.com/shahparth36" data-toggle="tooltip" data-placement="bottom" title="Github Profile">
                                        <i class=" icons fab fa-github"></i>
                                    </a>
                
                                </p>
                                <hr>
                                <p class="card-text"><small class="text-muted">CO-FOUNDER | <i class="fab fa-atlassian px-1"></i> WEB DEVELOPER </small></p>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5 pb-5 text-center">
                    <div class="row">
                        <div class="col-lg-4 pr-2 mx-auto">
                            <img class="imagerounded"
                                src="https://res.cloudinary.com/setitup/image/upload/v1594037013/joy-1_zvreej.jpg">
                            </p>
                        </div>
                        <div class="col-lg-8 mt-5 ">
                            <div class="card-body pt-0">
                                <h5 class="card-title">Joy Purohit</h5>
                                <p class="card-text">
                                    <a href="https://www.instagram.com/joypurohit21/" data-toggle="tooltip" data-placement="bottom"
                                        title="instagram profile">
                                        <i class=" icons fab fa-instagram"></i>
                                    </a>
                                    <a href="https://github.com/Joypurohit" data-toggle="tooltip" data-placement="bottom" title="Github Profile">
                                        <i class=" icons fab fa-github"></i>
                                    </a>
                
                                </p>
                                <hr>
                                <p class="card-text"><small class="text-muted">CO-FOUNDER | <i class="fab fa-atlassian px-1"></i> WEB DEVELOPER </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 pb-5 text-center">
                    <div class="row">
                        <div class="col-lg-4 pr-2 mx-auto">
                            <img class="imagerounded"
                                src="https://res.cloudinary.com/setitup/image/upload/v1594037012/aayush-4_jszo22.jpg">
                            </p>
                        </div>
                        <div class="col-lg-8 mt-5">
                            <div class="card-body pt-0">
                                <h5 class="card-title">Aayush Shah</h5>
                                <p class="card-text">
                                    <a href="https://www.instagram.com/aayush_shah7/" data-toggle="tooltip" data-placement="bottom"
                                        title="instagram profile">
                                        <i class=" icons fab fa-instagram"></i>
                                    </a>
                                    <a href="https://github.com/Aayushjshah" data-toggle="tooltip" data-placement="bottom" title="Github Profile">
                                        <i class=" icons fab fa-github"></i>
                                    </a>
                
                                </p>
                                <hr>
                                <p class="card-text"><small class="text-muted">CO-FOUNDER | <i class="fab fa-atlassian px-1"></i> WEB DEVELOPER </small></p>
                                <!-- <p class="card-text"><small class="text-muted"><i class="fab fa-atlassian"></i> WEB DEVELOPER</small></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("./partials/footer") %>
