
<link rel="stylesheet" href="/stylesheets/support.css">
<link rel="stylesheet" href="/stylesheets/faqpage.css">

<div class="container border shadow-lg my-5 px-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 text-center pl-4 pt-5 display-4">
                    Support Center 
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-5">
            <div class="container bootstrap snippet">
                <div class="row">
                      <div class="col-lg-10 col-sm-8 mx-auto">
                        <h3 class="title-block second-child text-center my-3">Frequently Asked Questions</h3>
                        <div class="panel-group pb-5" id="faqList">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                      <h4 class="panel-title p-3 border rounded">
                                        <a data-toggle="collapse" data-parent="#faqList" href="#questionOne"id="sixteen" class="collapsed">
                                              How is Percentage Match Calculated ? <i id="btnsixteen" class="fas fa-caret-down"></i>
                                        </a>
                                      </h4>
                                </div>
                                <div id="questionOne" class="panel-collapse collapse" style="height: 0px;">
                                      <div class="panel-body border p-3">
                                        <p class="p-0 m-0">We at SetItUp calculate Percentage Match based on certain Preferences or Choices selected by the user during the Account creation.We set a Priority order based on inputs given by the user.Matching is majorly based on Age, City, Gender.In no way we imply that the highest Percentage Match is the Ultimate Match for the user.</p>
                                      </div>
                                </div>
                              </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                      <h4 class="panel-title p-3 border rounded">
                                        <a data-toggle="collapse" data-parent="#faqList" href="#questionTwo"id="fifteen" class="collapsed">
                                            How to upload Multiple Images for Profile Pictures ?<i id="btnfifteen" class="fas fa-caret-down"></i>
                                        </a>
                                      </h4>
                                </div>
                                <div id="questionTwo" class="panel-collapse collapse" style="height: 0px;">
                                      <div class="panel-body border p-3">
                                        <p class="p-0 m-0">To upload multiple images, Hold Ctrl and click on all the images to be uploaded. </p> 
                                      </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                      <h4 class="panel-title p-3 border rounded">
                                        <a data-toggle="collapse" data-parent="#faqList" href="#questionThree" id="fourteen"class="collapsed">
                                            How do I become eligible to chat with someone ?<i id="btnfourteen" class="fas fa-caret-down"></i>
                                        </a>
                                      </h4>
                                </div>
                                <div id="questionThree" class="panel-collapse collapse" style="height: 0px;">
                                      <div class="panel-body border p-3">
                                        <p class="p-0 m-0">Two users can chat only when both have been liked by each other.</p>
                                      </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                      <h4 class="panel-title p-3 border rounded">
                                        <a data-toggle="collapse" data-parent="#faqList"id="thirteen" href="#collapseFour" class="">
                                            How can I update the Contact No. with which I have registered  ?<i id="btnthirteen" class="fas fa-caret-down"></i>
                                        </a>
                                      </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse in" style="height: 0px;">
                                      <div class="panel-body border p-3">
                                        <p class="p-0 m-0">We are sorry to say that once registered with a Contact No. you cannot update or change it.To register with a different Contact No. you will have to create a new Account. </p>
                                      </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                      <h4 class="panel-title p-3 border rounded">
                                        <a data-toggle="collapse" data-parent="#faqList"id="twelve" href="#collapseFive" class="">
                                            How can I Report someone ?<i id="btntwelve" class="fas fa-caret-down"></i>
                                        </a>
                                      </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse in" style="height: 0px;">
                                      <div class="panel-body border p-3">
                                        <p class="p-0 m-0">You can report them to us by mailing us at <strong>setitupcorp@gmail.com</strong> with the offence. We will only take action if we find your Report to be valid.</p>
                                      </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                      <h4 class="panel-title p-3 border rounded">
                                        <a data-toggle="collapse" data-parent="#faqList" id="eleven" href="#collapseSix" class="">
                                           How to Contact Us ?<i id="btneleven" class="fas fa-caret-down"></i>
                                        </a>
                                      </h4>
                                </div>
                                <div id="collapseSix" aria-hidden="false" class="panel-collapse collapse in" style="height: 0px;">
                                      <div class="panel-body border p-3">
                                          <p class="p-0 m-0">
                                            You can Contact us by mailing your queries at <strong>setitupcorp@gmail.com</strong>.We will try to respond to your queries at the earliest.Please coopearate.Any inconvenience caused is regretted.
                                        </p>
                                      </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div> 
            </div>             
        </div>
    </div>
</div>