<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://res.cloudinary.com/dcimcuqjm/image/upload/v1593546882/Screenshot_97_vadfhb.png" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
		<link rel="stylesheet" href="/stylesheets/reset.css">
		<title>Reset Password | SetItUp </title>
	</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black; z-index: 1;">
        <a class="navbar-brand" href="/">
            <i class="fa fa-venus-mars biggy" aria-hidden="true"></i>
            <span class="biggy" id="font">Setitup</span>
        </a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="navbar-toggler-icon"><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <a class="nav-link active mr-3" href="/login"><i class="fas fa-sign-in-alt mr-2"></i>Login</a>
                <a class="nav-link active mr-3" href="/getting-started"><i class="fas fa-user-plus mr-2"></i>Signup</a>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <% if(error && error.length > 0 ) { %>
        <div class="row d-flex justify-content-between m-2">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 100%;">
                <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <% } %>
        <% if(success && success.length > 0 ) { %>
        <div style="z-index: 10;" class="row d-flex justify-content-between m-2">
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 100%;">
                <%= success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <% } %>
    </div>
	<div id = "main-div" class="card text-center">
		<div id = "card" class="card-body">
			<form action = "/reset/<%= token %>" method = "POST">
				<h1 id = "signIn" class="card-title">Reset Password</h1>
				<hr>
				<p class="card-text">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-key keySymbol"></i></span>
						</div>
                        <input minlength="8" required id="password" type="password" name="password" class="form-control pwd"
                            placeholder="Password">
                        <span class="input-group-btn">
                            <button class="btn btn-default reveal-pwd" type="button"><i class="fas fa-eye"></i></button>
                        </span>
                    </div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-key keySymbol"></i></span>
						</div>
                        <input minlength="8" required id="password" type="password" name="confirm" class="form-control repwd"
                            placeholder="Retype Password">
                        <span class="input-group-btn">
                            <button class="btn btn-default reveal-repwd" type="button"><i class="fas fa-eye"></i></button>
                        </span>
                    </div>
					<div id ="reset" class="form-group">
						<input type="submit" class="btn btn-primary rounded-0" value="Reset Password">
					</div>
				</p>
			</form>
		</div>
    </div>
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="/scripts/form-validations.js"></script>
</body>
</html>