<div class="container border pl-0 pl-md-3 mx-auto shadow-lg mt-5">

    <div class="col-lg-12 mt-5">
        <div class="container text-center">
            <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 text-center pl-0 pl-md-4 pt-3 display-4">
                                Help Center
                           </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mx-auto">
                        <div class="row">
                            <p class="intro text-center mt-4">
                                Remember — even if you follow these tips, no method of risk reduction is perfect. If you have a negative 
	                            experience, please know that it is not your fault and help is available
	                            If you feel you are in immediate danger or need emergency assistance
                            </p>
                        </div>
                        <div class="dropdown-divider">
                        </div>
                    </div>
                  <div class="col-lg-10 col-md-10 col-12 mx-auto pl-0 pl-md-3">
                    <h3 class="title-block second-child text-center my-3">Resources for Help, Support, or Advice</h3>
                    <ul class="pl-3 list-unstyled" style="font-size: 1.2rem;" >
                        <p class="h1"> 
                            India
                        </p>
                        <li class="org-res">
                            National Suicide Prevention Lifeline
                        </li>
                        <li class = " list-unstyled mb-4 mt-2">
                            <p>
                                Call 1-800-273-8255 | <a target="_blank" href="https://suicidepreventionlifeline.org/chat/">https://suicidepreventionlifeline.org/chat/</a>
                            </p>
                        </li>
                        <li class="org-res">
                            National Women’s Helpline
                        </li>
                        <li class = "  list-unstyled  mb-4 mt-2">
                            <p>
                                Call 1091 or 181
                            </p>
                        </li>
                        <li class="org-res">
                            National Commission for Women
                        </li>
                        <li class = "  mb-4 mt-2  list-unstyled">
                            <p>
                                Call 011-26942369
                            </p>
                        </li>
                        <li class="org-res">
                            Cybercrime Reporting Portal
                        </li>
                        <div class="row text-center d-flex justify-content-sm-center">
                            <li class = "  mb-4 mt-2 list-unstyled">
                            <div class="col-12">
                                    <p>
                                        <a class="col-10" target="_blank" href="https://cybercrime.gov.in/Webform/Crime_OnlineSafetyTips.aspx">https://cybercrime.gov.in/Webform/Crime_OnlineSafetyTips.aspx</a>                            
                                    </p>
                                </div>
                            </li>
                            </div>
                        <li class="org-res">
                            Family Planning Association of India                        
                        </li>
                        <li class = "  mb-4 mt-2 list-unstyled">
                            <p>
                                (91) 22 – 4086 3101 / 2202 9080 / 2202 5174
                            </p>
                        </li>
                        <li class="org-res">
                            LGBT National Help Center
                        </li>
                        <li class = "  mb-4 mt-2 list-unstyled">
                            <p>
                                1-888-843-4564 | <a href="https://www.glbtnationalhelpcenter.org" target="_blank" >https://www.glbtnationalhelpcenter.org</a></p>
                        </li>
                        <div class="dropdown-divider"></div>

                        <p class="h1"> 
                            International
                        </p>
                        <li class="org-res">
                            INHOPE (To Report Illegal Online Content)
                        </li>
                        <li class = "  mb-4 mt-2 list-unstyled">
                            <p>
                                +31 20 257 1100 
                            </p>

                        </li>
                        <li class="org-res">
                            Global Modern Slavery Directory (Anti-Trafficking Service Provider and Hotline Directory)
                        </li>
                        <li class = "  mb-4 mt-2 list-unstyled">
                            <p>
                                <a target="_blank" href="https://www.globalmodernslavery.org/">https://www.globalmodernslavery.org/</a> 
                            </p>
                        </li>
                         <li class="org-res">
                            Now Matters Now – Crisis Lines
                       </li>
                        <li class = "  mb-4 mt-2 list-unstyled">
                            <p>
                                <a target="_blank" href="https://www.nowmattersnow.org/help-line">https://www.nowmattersnow.org/help-line</a>                            </p>
                        </li>

                    </ul> 


                  </div>
            </div> 
        </div>             
    </div>
</div>

