<head>
<link rel="stylesheet" href="/stylesheets/safetypage.css">
</head>


<div class="body">
<div class="container border shadow-lg mt-5">

    <div class="col-lg-12 mt-5">
        <div class="container bootstrap snippet">
            <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 text-center pl-4 pt-3 display-4">
                                Help Center
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <p class="intro text-center mt-4">We want you to feel safe and comfortable so here's some info on that for you.
                            <br></br>
                                 Meeting new people is exciting, but you should always be cautious when interacting with somefour you 
                                don’t know. Use your best judgment and put your safety first, whether you are exchanging initial 
                                messages or meeting in person. While you can’t control the actions of others, there are things you can 
                                do to help you stay safe during your Setitup experience.
                            </p>
                            <hr>
                        </div>
                    </div>
                  <div class="col-lg-10 col-md-10  mx-auto">
                    <h3 class="title-block second-child text-center my-3">Safety Tips</h3>
                    <div class="panel-group pb-5" id="faqList">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                                  <h4 class="panel-title p-3 border rounded">
                                    <a data-toggle="collapse" data-parent="#faqList" href="#panel1" id="one" class="collapsed">
                                        Keep chats restricted to the website or app<i id="btnone" class="fas fa-caret-down"></i>
                                    </a>
                                  </h4>
                            </div>
                            <div id="panel1" class="panel-collapse collapse" style="height: 0px;">
                                  <div class="panel-body border p-3">
                                    <p class="p-0 m-0">“It’s really important to keep all dialogue restricted to the messaging services on the website. If you 
                                        keep conversations strictly on the site scammers are unlikely to target you, because they know the 
                                        dating site will detect their behaviour.”</p>
                                  </div>
                            </div>
                          </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                  <h4 class="panel-title p-3 border rounded">
                                    <a data-toggle="collapse" data-parent="#faqList" href="#panel2" id="two" class="collapsed">
                                        Block anyone suspicious<i id="btntwo" class="fas fa-caret-down"></i>
                                    </a>
                                  </h4>
                            </div>
                            <div id="panel2" class="panel-collapse collapse" style="height: 0px;">
                                  <div class="panel-body border p-3">
                                    <p class="p-0 m-0">
                                        "On the dating site users’ behavior can be monitored, so if someone becomes abusive or 
                                        inappropriate, the site can respond accordingly. You also have the ability to block someone 
                                        on a dating site messaging system."
                                    </p> 
                                  </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                  <h4 class="panel-title p-3 border rounded">
                                    <a data-toggle="collapse" data-parent="#faqList" href="#panel3" id="three" class="collapsed">
                                        Take time to get to know someone before meeting<i id="btnthree" class="fas fa-caret-down"></i>                                    </a>
                                  </h4>
                            </div>
                            <div id="panel3" class="panel-collapse collapse" style="height: 0px;">
                                  <div class="panel-body border p-3">
                                    <p class="p-0 m-0">
                                        “When you meet someone you can quickly feel like you know them really well, because it’s often 
                                        easier to connect in writing and to read more into the written word than the spoken word. This 
                                        can mean you rush into things, and relationships may move quicker than you expect.
                                
                                        "Always bear in mind that the other person is a stranger. Take your time to really get to know someone, 
                                        and ensure he or she is who they say they are.”
                                    </p>
                                  </div>
                            </div>
                        </div>

                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                  <h4 class="panel-title p-3 border rounded">
                                    <a data-toggle="collapse" data-parent="#faqList" href="#panel4" id="four"class="collapsed">
                                        Ask a friend for advice and their opinion<i id="btnfour" class="fas fa-caret-down"></i>
                                    </a>
                                  </h4>
                            </div>
                            <div id="panel4" class="panel-collapse collapse in" style="height: 0px;">
                                  <div class="panel-body border p-3">
                                    <p class="p-0 m-0">
                                        “If you even get a gut feeling that something is not quite right, ask a friend for advice and 
                                        their opinion. Sometimes our mind can trick us into thinking we've met the perfect match when 
                                        in fact we are being conned by a scam-artist.”
                                    </p>
                                  </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                  <h4 class="panel-title p-3 border rounded">
                                    <a data-toggle="collapse" data-parent="#faqList" href="#panel5" id="six"class="">
                                        Always meet in a public place<i id="btn6" class="fas fa-caret-down"></i>
                                    </a>
                                  </h4>
                            </div>
                            <div id="panel5" class="panel-collapse collapse in" style="height: 0px;">
                                  <div class="panel-body border p-3">
                                    <p class="p-0 m-0">
                                        “Anyone you meet online is a stranger, and you need to remember that, even if you’re on a 
                                        second or third date."
                                    </p>
                                  </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                  <h4 class="panel-title p-3 border rounded">
                                    <a data-toggle="collapse" data-parent="#faqList" href="#panel6"id="seven" class="">
                                        Communicate with a friend<i id="btnseven" class="fas fa-caret-down"></i>
                                    </a>
                                  </h4>
                            </div>
                            <div id="panel6" aria-hidden="false" class="panel-collapse collapse in" style="height: 0px;">
                                  <div class="panel-body border p-3">
                                      <p class="p-0 m-0">
                                        "Let someone else know where you are, and check back in with that person at the end of the date."
                                    </p>
                                  </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                  <h4 class="panel-title p-3 border rounded">
                                    <a data-toggle="collapse" data-parent="#faqList" href="#panel7" id="eight"class="">
                                        Avoid drinking too much on a first date.<i id="btn8" class="fas fa-caret-down"></i>
                                    </a>
                                  </h4>
                            </div>
                            <div id="panel7" aria-hidden="false" class="panel-collapse collapse in" style="height: 0px;">
                                  <div class="panel-body border p-3">
                                      <p class="p-0 m-0">
                                        “While Dutch courage can be enticing, you don’t want to lower your inhibitions, and end up 
                                        doing something you regret."                                    
                                    </p>
                                  </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                  <h4 class="panel-title p-3 border rounded">
                                    <a data-toggle="collapse" data-parent="#faqList" href="#panel8" id="nine"class="">
                                        Don’t go home with them on your first date<i id="btnnine" class="fas fa-caret-down"></i>                                    </a>
                                  </h4>
                            </div>
                            <div id="panel8" aria-hidden="false" class="panel-collapse collapse in" style="height: 0px;">
                                  <div class="panel-body border p-3">
                                      <p class="p-0 m-0">
                                        "Even if you’re getting on really well with your date, don’t go home with him or her on the first 
			                            night. And remember that bringing someone home is no safer than going to someone else’s house. You’re 
			                            still inviting a stranger into your home."                                    
                                    </p>
                                  </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                  <h4 class="panel-title p-3 border rounded">
                                    <a data-toggle="collapse" data-parent="#faqList" href="#panel9" id="ten" class="">
                                        Don’t be afraid to just get up and leave<i id="btnten" class="fas fa-caret-down"></i>   
                                    </a>
                                </h4>
                            </div>
                            <div id="panel9" aria-hidden="false" class="panel-collapse collapse in" style="height: 0px;">
                                  <div class="panel-body border p-3">
                                      <p class="p-0 m-0">
                                        “Online dating can be a great way to meet people you would never had chance to meet 
                                        otherwise, but there are nasty people in the world, and online dating is just four of many 
                                        ways you may come across those nasty people.
                                            
                                        "Always keep your wits about you, and if you ever feel uncomfortable you should simply leave. Your 
                                        safety is of paramount importance.”
                                        </p>
                                  </div>
                            </div>
                            <p id="aboveimg" class="my-4 text-center ">For help avoiding romance scams, check out some advice from the U.S Federal Trade 
                                Commission on the FTC website or in the video below.</p>
                            <p> </p>
                            <div class="row">
                                <div class="col-9 mx-auto d-flex justify-content-center">                                
                                    <a href="https://youtu.be/jlxWxH0mgU8" target="_blank" class="d-flex justify-content-center"  data-toggle="tooltip" data-placement="bottom" title="click to view the video">
                                        <img id="youtubeimage" 
                                src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2016/04/online-dating.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div> 
        </div>             
    </div>
</div>
</div>
                    
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	