.footer-content {
    color: white;
}

.footer {
    background-color: black; height: auto; padding: 50px 0px; margin-top: 150px;
}

small .footer-content {
    margin-left: 150px;
}

img .footer-content {
    margin-left: 100px;
}