.h1 {
    font-size: 5rem;
    font-family: 'Pacifico', cursive;
}

span.i-register {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: 18px;
    max-width: 0.15rem;
    line-height: 1.5;
    position: relative;
    left: 1.85rem;
    top: 2.75px;
}

body {
    background-color: #000000;
}

.register-pg.card, .register-pg.jumbotron {
    background-color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hr-theme-slash-2 {
  display: flex;
}    
.hr-line {
  width: 100%;
  position: relative;
  margin: 15px;
  border-bottom: 1px solid rgba(0,0,0,.075);
}
.hr-icon {
  position: relative;
  top: 8px;
  color: darkcyan;
  font-size: 2.5rem;
}

#button4 {
  margin-right: 15px;
}

#myID {
  margin-left: 32%;
}

#info {
  margin-right: 3%;
}

.asterik {
  color: red;
}

.container-fluid {
  z-index: 10;
}
.container{
  z-index: 10;
}

.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  }
  .slideshow li:nth-child(1) { 
    background-image: url(https://images.unsplash.com/photo-1579591165250-987f23844669?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  }
  .slideshow li:nth-child(2) { 
    background-image: url(https://images.unsplash.com/photo-1491582990992-68ec88e070a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(https://images.unsplash.com/photo-1518199183058-bc0458c2681e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(https://images.unsplash.com/photo-1429080355161-3c071e2e27a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(https://images.pexels.com/photos/1449670/pexels-photo-1449670.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    animation-delay: 40s; 
  }
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
  .no-cssanimations .slideshow li {
    opacity: 1;
  }

  #code1 {
    display: none;
  }