
.share-button
{
	width:180px;
	height:40px;
	background:#e4faff;
	border-radius: 40px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	transition: 0.3s linear;
	box-shadow: 0 0 40px rgba(0,0,0,0.1),
	            inset 5px 2px 10px rgba(0,0,0,0.1);
}
.share-button:hover
{
	transform: scale(1.1);
}
.share-button span
{
	position: absolute;
	width: 100%;
	height:100%;
	background: #e4faff;
	color:#000000;
	text-align: center;
	letter-spacing: 1px;
	line-height: 40px;
	z-index:999;
	font-size: 15px;
	text-transform: uppercase;
	transition: 0.6s linear;
	border-radius:40px;

}
.share-button:hover span
{
   transform: translateX(-100%);
   transition-delay: 0.3s;
}
.share-button a
{
	flex:1;
	font-size: 26px;
	color:#061e24;
	text-align: center;
	transform: translateX(-100%);
	opacity: 0;
	transition: 0.3s linear;

}
.share-button:hover a
{
	opacity: 1;
	transform: translateX(0);
}
.share-button a:nth-of-type(1){transition-delay: 1s;}
.share-button a:nth-of-type(2){transition-delay: 0.8s;}
.share-button a:nth-of-type(3){transition-delay: 0.6s;}
.share-button a:nth-of-type(4){transition-delay: 0.4s;}